body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 15px;
    background-color: #f4f4f4;
}
header img{ 
     width:150px;
     height:150px; 
     border-radius:100%; 
     margin-bottom:75px; 
}

h1, h2 {
    color: #333;
}
section {
    margin: 20px;
    background-color: #e9e9e9;
    padding: 5px;
    border-radius: 8px;
}
.projects-container {
    display:flex;
    justify-content: space-between; 
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x:auto;
}
.project {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #E6F2FF;

    display: inline-flex;                
    align-items: center;         
    justify-content: center;     

    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    flex-shrink:0;
}footer {
    background-color: #f4f4f4 ;
    text-align: center;
    padding: 10px;
}